.row {
  padding: 20px 0 20px 0;
}

/* All paragraph tags */
p {
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dates-and-times {
  margin-top: 105px;
}

.dates-and-times{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.carousel-caption{
  background: rgba(0,0,0,0.4);
}

.winkyface{
  color:lightpink;
  margin-top: 80px;
}